@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 80px 30px;
}

header {
  margin: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .container__logo {
  width: 50vw;
  display: flex;
  align-items: center;
}
header nav .container__logo h1 {
  font-size: 1.25rem;
  margin-left: 10px;
  font-family: "Noto Sans Anatolian Hieroglyphs";
}
header nav .container__logo img {
  width: 30px;
}
header nav #dropdown {
  border: 1px solid rgb(40, 33, 33);
}
header nav .nav__menu {
  display: none;
  width: 30%;
  justify-content: space-around;
  list-style-type: none;
  border: 1px solid red;
}
header nav .button--nav {
  display: none;
  width: 100px;
}

.container {
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container--intro {
  text-align: left;
  background-color: #F7FAFA;
}
.container--intro h1 {
  padding-left: 15px;
  margin: 20px 0;
  text-align: left;
  color: #93A2B5;
  font-size: 1.125rem;
  font-family: "Quicksand";
  font-weight: 400;
}
.container--intro h2 {
  height: 10%;
  padding-left: 15px;
  font-size: 3.6rem;
  font-family: "Noto Sans Anatolian Hieroglyphs";
}
.container--intro h2 .intro__line {
  position: absolute;
  right: 120px;
  top: 380px;
  z-index: 0;
  margin: -75px 0;
  height: 50px;
  width: 55%;
}
.container--intro h2 .intro__line-software {
  position: absolute;
  right: 100px;
  top: 460px;
  margin: -85px 0;
  height: 60px;
  width: 60%;
}
.container--intro .button--intro {
  margin: 100px;
  padding: 15px;
  width: 90%;
  height: 70px;
  border-radius: 5px;
  box-shadow: 2px 2px;
  background-color: #BAE8E8;
  font-family: "Quicksand";
  font-size: 1.125rem;
  font-weight: 700;
}
.container--intro .button--intro img {
  margin: 0 5px;
  width: 15px;
}
.container--skills-grid {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 30px;
}
.container--skills-grid h2 {
  font-family: monospace;
}
.container--contact {
  border: 1px solid red;
  background-color: #282643;
  padding: 20px;
}
.container--contact a {
  text-decoration: none;
  color: #fff;
}
.container--contact-logos {
  border: 2px solid blue;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}
.container--contact-logos img {
  margin-right: 10px;
}

.button--card__code {
  display: inline-flex;
  width: 70px;
  height: 20px;
  margin: 30px;
  margin-left: 0;
}
.button--card__code img {
  width: 15px;
  margin-left: 10px;
}

.button--card__preview {
  display: inline-flex;
  width: 90px;
  height: 20px;
}
.button--card__preview img {
  width: 15px;
  margin-left: 10px;
}

.container--projects {
  padding: 10px;
}
.container--projects .card__container-img {
  background-color: #9bdedb;
  padding: 50px 10px 0 20px;
  margin-top: 30px;
}
.container--projects .card__container-img img {
  width: 100%;
  padding: 0;
  margin-bottom: -10px;
}
.container--projects .card__skill-title {
  font-size: 0.875rem;
  margin: 30px 0 5px;
  color: #9bdedb;
  font-weight: bold;
}
.container--projects .card__project-title {
  margin-bottom: 20px;
}

.container--about-me {
  padding: 20px;
}
.container--about-me .about-me__img {
  width: 90%;
  margin: 20px;
  border-radius: 5px;
}

footer {
  border: 1px solid red;
}/*# sourceMappingURL=styles.css.map */