@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hind+Guntur:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sono:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  padding: 10px 40px;
}
header nav {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
header nav .container__logo {
  display: flex;
  align-items: center;
}
header nav .container__logo .nav__name-tag {
  font-size: 1.2rem;
  margin-left: 10px;
  font-family: "DM Sans";
  font-weight: 300;
}
header nav .container__logo .nav__name-tag .bold {
  font-weight: 500;
}
header nav .container__logo img {
  width: 30px;
}
header nav .nav__menu {
  display: none;
  align-items: center;
  width: 30%;
  padding-left: 50%;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.125rem;
}
header nav .nav__menu a {
  padding: 20px;
  font-family: "Sono";
  color: #93a2b5;
}
header nav .nav__menu a:hover {
  text-decoration: underline;
  color: orange;
}
header nav .nav__get-in-touch {
  display: none;
  width: 150px;
  margin: 0 60px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #bae8e8;
  font-family: "Sono";
  font-size: 0.9rem;
  font-weight: 450;
  letter-spacing: -1px;
  word-spacing: -4px;
  text-align: center;
}
header nav .nav__get-in-touch:hover {
  box-shadow: 2px 2px;
  cursor: pointer;
}
header nav .nav__get-in-touch:active {
  box-shadow: 0px 0px;
  width: 140px;
  height: 30px;
  font-size: 85%;
  padding-top: 7px;
  padding-left: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 100px;
}
.container h2 {
  font-family: "DM Sans";
  font-size: 2rem;
  font-weight: 550;
  margin-bottom: 50px;
  word-spacing: 6px;
  letter-spacing: 2px;
}
.container--intro {
  margin: 0 20px;
  text-align: left;
  background-color: #f7fafa;
  padding-bottom: 50px;
}
.container--intro h2 {
  margin-bottom: 0px;
}
.container--skills-grid {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 30px;
}
.container--about-me {
  padding: 20px;
}
.container--contact {
  background-color: #282643;
  padding: 20px;
  margin: 0;
}
.container--contact a {
  color: #fff;
}
.container--contact-logos {
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}
.container--contact-logos img {
  margin-right: 10px;
}

.container--intro h1 {
  padding-left: 60px;
  padding-top: 40px;
  margin: 20px 0;
  text-align: left;
  color: #93a2b5;
  font-size: 1.125rem;
  font-family: "Sono";
  font-weight: 400;
}
.container--intro h1 a {
  color: #93a2b5;
}
.container--intro h1 a:hover {
  text-decoration: underline;
  color: orange;
}
.container--intro h2 {
  padding-left: 60px;
  font-size: 3.6rem;
  font-family: "DM Sans";
}
.container--intro h2 .intro__line {
  position: absolute;
}
.container--intro h2 .intro__line--software {
  left: 80px;
  top: 420px;
  z-index: 0;
  margin: -75px 0;
  height: 50px;
  width: 240px;
}
.container--intro h2 .intro__line--developer {
  left: 80px;
  top: 500px;
  margin: -85px 0;
  height: 60px;
  width: 270px;
}
.container--intro .intro__projects-link {
  margin: 60px;
  padding: 25px 20px;
  width: 280px;
  height: 70px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px;
  background-color: #bae8e8;
  font-family: "Sono";
  font-size: 1.125rem;
  font-weight: 450;
  letter-spacing: -1px;
  word-spacing: -4px;
}
.container--intro .intro__projects-link:hover {
  box-shadow: 2px 2px;
  cursor: pointer;
}
.container--intro .intro__projects-link:active {
  box-shadow: 1px 1px;
  width: 240px;
  height: 50px;
  font-size: 99%;
  padding-top: 16px;
  padding-left: 16px;
}
.container--intro .intro__projects-link img {
  margin-left: 8px;
}

.container--skills p {
  font-size: 1rem;
  font-family: "Sono";
  color: #93a2b5;
  text-align: center;
  width: 50%;
}

.projects__card {
  margin-bottom: 50px;
  width: 350px;
}
.projects__card .projects__img-container {
  background-color: #dbf4f2;
  padding: 50px 10px 0 20px;
}
.projects__card .projects__img-container img {
  padding: 0;
  margin-bottom: -10px;
  max-width: 300px;
}
.projects__card .projects__skill-title {
  font-family: "DM Sans";
  font-size: 0.875rem;
  margin: 30px 0 5px;
  color: #8edbd7;
  font-weight: 550;
  letter-spacing: 1px;
}
.projects__card .projects__work-title {
  margin-bottom: 20px;
  font-family: "DM Sans";
  font-size: 1.8rem;
  font-weight: 450;
}
.projects__card .projects__summary {
  font-family: "Sono";
  font-size: 1rem;
  color: #93a2b5;
}
.projects__card .projects__code-link {
  display: inline-flex;
  width: 70px;
  height: 20px;
  margin: 30px 10px;
  margin-left: 0;
  background-color: white;
  border: none;
  font-size: 0.9rem;
  font-family: "Sono";
  font-weight: 450;
}
.projects__card .projects__code-link:hover {
  text-decoration: underline;
  color: orange;
  border-radius: 2px;
  margin-left: 1px;
}
.projects__card .projects__code-link img {
  width: 19px;
  margin-left: 10px;
}
.projects__card .projects__preview-link {
  display: inline-flex;
  width: 90px;
  height: 20px;
  background-color: white;
  border: none;
  font-size: 0.9rem;
  font-family: "Sono";
  font-weight: 450;
}
.projects__card .projects__preview-link:hover {
  text-decoration: underline;
  color: orange;
  border-radius: 2px;
  margin-left: 1px;
}
.projects__card .projects__preview-link img {
  width: 19px;
  margin-left: 10px;
}

.about-me__img {
  width: 300px;
  margin: 20px;
  border-radius: 5px;
}

.about-me__summary {
  margin-top: 30px;
  font-family: "Sono";
  font-size: 1rem;
  color: #93a2b5;
}
.about-me__summary a {
  color: #93a2b5;
}
.about-me__summary a:hover {
  text-decoration: underline;
  color: orange;
}

.container--contact .contact__get-in-touch {
  margin-right: 15px;
}
.container--contact .contact__logo img {
  margin: 0 5px;
  width: 15px;
}
.container--contact a {
  font-family: "Sono";
  letter-spacing: 1.5px;
}
.container--contact a:hover {
  text-decoration: underline;
  color: #95a3b6;
}
.container--contact .contact__email-logo {
  position: absolute;
  margin: 1px 0;
  margin-left: 10px;
  width: 18px;
}

@media screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
  }
  header nav .nav__name-tag {
    font-size: 65px;
  }
  header nav img {
    display: none;
  }
  header nav .nav__menu {
    display: flex;
  }
  header nav .nav__get-in-touch {
    display: block;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  .container--skills-grid {
    display: flex;
    flex-direction: row;
  }
  .container--intro .intro__line {
    display: none;
  }
  .container--intro h1,
  .container--intro h2 {
    text-align: center;
  }
  .container--intro h1 {
    font-size: 30px;
  }
  .container--intro h2 {
    font-size: 100px;
  }
  .container--about-me .img-and-summary {
    display: flex;
  }
  .container--about-me .img-and-summary img {
    width: 500px;
    height: 400px;
    margin: 35px 20px;
  }
  .container--about-me .img-and-summary p {
    padding: 0 10px;
  }
  .container--contact {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  header nav .nav__name-tag {
    font-size: 65px;
  }
  header nav img {
    display: none;
  }
  header nav .nav__menu {
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-right: 30px;
  }
  header nav .nav__get-in-touch {
    display: block;
    margin: 0;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  .container--skills-grid {
    display: flex;
    flex-direction: row;
  }
  .container--intro .intro__line {
    display: none;
  }
  .container--intro h1,
  .container--intro h2 {
    text-align: center;
  }
  .container--intro h1 {
    font-size: 30px;
  }
  .container--intro h2 {
    font-size: 100px;
  }
  .container--about-me .img-and-summary {
    display: flex;
  }
  .container--about-me .img-and-summary img {
    width: 400px;
    height: 450px;
    margin: 36px 20px 0;
  }
  .container--about-me .img-and-summary p {
    padding: 0 10px;
  }
  .container--contact {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */