@use "variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 80px 30px;
}
///////////////////////////////////////////////////////////////////////

// Header and Navigation styles
header {
  margin: 10px;

  nav {
    display: flex;
    justify-content: space-between;

    .container__logo {
      width: 50vw;
      display: flex;
      align-items: center;

      h1 {
        font-size: $font-size-header;
        margin-left: 10px;
        font-family: $font-family-titles;
      }

      img {
        width: 30px;
      }
    }
    #dropdown {
      border: 1px solid rgb(40, 33, 33);
    }

    .nav__menu {
      display: none;
      width: 30%;
      // display: flex;
      justify-content: space-around;
      list-style-type: none;
      border: 1px solid red;
    }

    // TODO: UNIVERSAL BUTTON STYLES NEED TO BE ADDED
    .button--nav {
      display: none;
      width: 100px;
    }
  }
}

////////////////////////////////////////////////////////////////////

//////// Containers for ALL sections styling //////////////
.container {
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: $font-family-titles;
    font-size: $font-size-subheadings;
  }

  /////////// Intro Container /////////////////////
  &--intro {
    text-align: left;
    background-color: $color-tertiary;
  }

  /////////// Technical Skills Container ////////////////
  &--skills-grid {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 30px;

    h2 {
      font-family: monospace; // Placeholder - change font
    }
  }

  /////////// Projects Container ////////////////
  &--projects {
    padding: 10px;
  }

  /////////// About Me Container ////////////////
  &--about-me {
    padding: 20px;
  }

  /////////// Footer (Contact) Container ////////////////
  &--contact {
    border: 1px solid red;
    background-color: $color-footer;
    padding: 20px;

    a {
      text-decoration: none;
      color: $color-footer-text;
    }
  }

  /// Don't nest 'contact-logos' in 'contact' because it will inherit the
  /// 'flex-direction: row' property from its parent
  &--contact-logos {
    border: 2px solid blue;
    flex-direction: row;
    padding: 10px;
    margin: 10px;

    img {
      margin-right: 10px;
    }
  }
}

///////////// INTRO LAYOUT ///////////////
.container--intro {
  h1 {
    padding-left: 15px;
    margin: 20px 0;
    text-align: left;
    color: $color-secondary;
    font-size: $font-size-intro-greeting;
    font-family: $font-family-paragraphs;
    font-weight: 400;
  }

  h2 {
    height: 10%;
    padding-left: 15px;
    font-size: $font-size-intro-heading;
    font-family: $font-family-titles;

    .intro__line {
      position: absolute;
      right: 120px;
      top: 380px;
      z-index: 0;
      margin: -75px 0;
      height: 50px;
      width: 55%;
    }

    .intro__line-software {
      position: absolute;
      right: 100px;
      top: 460px;
      margin: -85px 0;
      height: 60px;
      width: 60%;
    }
  }

  .button--intro {
    margin: 100px;
    padding: 15px;
    width: 90%;
    height: 70px;
    border-radius: 5px;
    box-shadow: 2px 2px;
    background-color: $color-button;
    font-family: $font-family-paragraphs;
    font-size: $font-size-button-large;
    font-weight: 400;

    img {
      margin: 0 5px;
      width: 15px;
    }
  }
}
//////// TECHNICAL SKILLS LAYOUT ////////

//////// PROJECTS LAYOUT //////////////////
  .projects__img {
      background-color: $color-primary;
      padding: 50px 10px 0 20px;
      margin-top: 30px;

      img {
        width: 100%;
        padding: 0;
        margin-bottom: -10px;
      }
    }

    .projects__skill-title {
      font-family: $font-family-titles;
      font-size: $font-size-project-skill-title;
      margin: 30px 0 5px;
      color: $color-primary;
      font-weight: bold;
    }

    .projects__work-title {
      margin-bottom: 20px;
      font-family: $font-family-titles;
      font-size: $font-size-project-title;
    }

    .projects__summary {
      font-family: Arial;
      font-size: $font-size-paragraphs;
      color: $color-secondary;
    }

    .projects__btn-code {
      display: inline-flex; 
      width: 70px;
      height: 20px;
      margin: 30px 10px;
      margin-left: 0;
      background-color: $color-button-projects;
      border: none;
    

      // TODO: Remember to remove grey background from buttons!
    
      img {
        width: 15px;
        margin-left: 10px;
      }
    }
    
    .projects__btn-preview {
      display: inline-flex;
      width: 90px;
      height: 20px;
      background-color: $color-button-projects;
      border: none;
      // TODO: Remember to remove grey background from buttons!
    
      img {
        width: 15px;
        margin-left: 10px;
      }
    }
  

////////// ABOUT ME LAYOUT //////////////
.about-me__img {
  width: 90%;
  margin: 20px;
  border-radius: 5px;
}

.about-me__summary {
  font-family: $font-family-paragraphs;
  font-size: $font-size-paragraphs;
  color: $color-secondary;
}

.about-me__skills-list {
  font-family: $font-family-paragraphs;
  font-size: $font-size-paragraphs;
  color: $color-secondary;
  list-style-type: lower-alpha;
}
//////////// FOOTER LAYOUT /////////////



