@use "variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  margin: 20px 10px;
}
///////////////////////////////////////////////////////////////////////

// Header and Navigation styles
header {
  margin: 10px;

  nav {
    display: flex;
    justify-content: space-between;

    .container__logo {
      display: flex;
      align-items: center;

      h1 {
        font-size: $font-size-header;
        margin-left: 10px;
        font-family: $font-family-titles;
        font-weight: 450;
      }

      img {
        width: 30px;
      }
    }
    #dropdown {
      border: 1px solid rgb(40, 33, 33);
    }

    .nav__menu {
      display: none;
      width: 30%;
      // display: flex;
      justify-content: space-around;
      list-style-type: none;
      border: 1px solid red;
    }

    // TODO: UNIVERSAL BUTTON STYLES NEED TO BE ADDED
    .button--nav {
      display: none;
      width: 100px;
    }
  }
}

////////////////////////////////////////////////////////////////////

//////// Containers for ALL sections styling //////////////
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 100px;

  h2 {
    font-family: $font-family-subheadings;
    font-size: $font-size-subheadings;
    font-weight: 550;
    margin-bottom: 50px;
    word-spacing: 6px;
    letter-spacing: 2px;
  }

  /////////// Intro Container /////////////////////
  &--intro {
    text-align: left;
    background-color: $color-tertiary;
    padding-bottom: 50px;
    h2 {
      margin-bottom: 0px;
    }
  }

  /////////// Technical Skills Container ////////////////
  &--skills-grid {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 30px;

    h2 {
      font-family: monospace; // Placeholder - change font
    }
  }

  /////////// About Me Container ////////////////
  &--about-me {
    padding: 20px;
  }

  /////////// Footer (Contact) Container ////////////////
  &--contact {
    background-color: $color-footer;
    padding: 20px;
    margin: 0;

    a {
      text-decoration: none;
      color: $color-footer-text;
    }
  }

  /// Don't nest 'contact-logos' in 'contact' because it will inherit the
  /// 'flex-direction: row' property from its parent
  &--contact-logos {
    flex-direction: row;
    padding: 10px;
    margin: 10px;

    img {
      margin-right: 10px;
    }
  }
}

///////////// INTRO LAYOUT ///////////////
.container--intro {
  h1 {
    padding-left: 40px;
    padding-top: 40px;
    margin: 20px 0;
    text-align: left;
    color: $color-secondary;
    font-size: $font-size-intro-greeting;
    font-family: $font-family-paragraphs;
    font-weight: 400;

      a {
        color: $color-secondary;

        &:hover {
          text-decoration: underline;
          color: orange;
        }
      }
  }

  h2 {
    padding-left: 40px;
    font-size: $font-size-intro-heading;
    font-family: $font-family-titles;

    .intro__line {
      position: absolute;
      left: 50px;
      top: 360px;
      z-index: 0;
      margin: -75px 0;
      height: 50px;
      width: 240px;
    }

    .intro__line-software {
      position: absolute;
      left: 50px;
      top: 445px;
      margin: -85px 0;
      height: 60px;
      width: 270px;
    }
  }

  .button--intro {
    margin: 60px;
    padding: 20px;
    width: 280px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 2px 2px;
    background-color: $color-button;
    font-family: $font-family-paragraphs;
    font-size: $font-size-button-large;
    font-weight: 500;
    letter-spacing: -1px;
    word-spacing: -4px;

      a {
        color: $color-titles;
      }

      img {
        margin-left: 8px;
      }
  }
}

//////// PROJECTS LAYOUT //////////////////
.projects__card {
  margin-bottom: 50px;
  width: 350px;

  .projects__img-container {
    background-color: $color-primary;
    padding: 50px 10px 0 20px;

    img {
      padding: 0;
      margin-bottom: -10px;
      max-width: 300px;
    }
  }

  .projects__skill-title {
    font-family: $font-family-titles;
    font-size: $font-size-project-skill-title;
    margin: 30px 0 5px;
    color: darken($color-primary, 20%);
    font-weight: 550;
    letter-spacing: 1px;
  }

  .projects__work-title {
    margin-bottom: 20px;
    font-family: $font-family-titles;
    font-size: $font-size-project-title;
    font-weight: 450;
  }

  .projects__summary {
    font-family: $font-family-paragraphs;
    font-size: $font-size-paragraphs;
    color: $color-secondary;
  }

  .projects__btn-code {
    display: inline-flex;
    width: 70px;
    height: 20px;
    margin: 30px 10px;
    margin-left: 0;
    background-color: $color-button-projects;
    border: none;
    font-size: $font-size-button-small;
    font-family: $font-family-paragraphs;
    font-weight: 450;

    img {
      width: 19px;
      margin-left: 10px;
    }
  }

  .projects__btn-preview {
    display: inline-flex;
    width: 90px;
    height: 20px;
    background-color: $color-button-projects;
    border: none;
    font-size: $font-size-button-small;
    font-family: $font-family-paragraphs;
    font-weight: 450;

    img {
      width: 19px;
      margin-left: 10px;
    }
  }
}
////////// ABOUT ME LAYOUT //////////////
.about-me__img {
  width: 300px;
  margin: 20px;
  border-radius: 5px;
}

.about-me__summary {
  margin-top: 30px;
  font-family: $font-family-paragraphs;
  font-size: $font-size-paragraphs;
  color: $color-secondary;
}

.about-me__skills-list {
  font-family: $font-family-paragraphs;
  font-size: $font-size-paragraphs;
  color: $color-secondary;
  list-style-type: lower-alpha;
}
//////////// FOOTER LAYOUT /////////////
.container--contact {

  .contact__logo {
    img {
      margin: 0 5px;
      width: 15px;
    }
  }

  a {
    font-family: $font-family-paragraphs;
    letter-spacing: 1.5px;

    &:hover {
      text-decoration: underline;
      color: rgb(203, 202, 202);
    }
  }
}
